In [ ]:
import pandas as pd
import numpy as np
import openpyxl as op
import matplotlib.pyplot as plt

In [14]:
    # Import necessary libraries


# Load data
data = pd.read_excel('talegaon.xlsx')

# Display first few rows of data
print(data.head())

# Create a bar plot to segregate and visualize the data
plt.figure(figsize=(10, 6))
plt.bar(data['Unnamed: 2'], data['Unnamed: 1'], color='skyblue')
plt.xlabel('Unnamed: 2')
plt.ylabel('Unnamed: 1')
plt.title('Unnamed: 2 Unnamed: 1 Distribution')
plt.xticks(rotation=45)
plt.tight_layout()

# Show the plot
plt.show()

  Unnamed: 0          Unnamed: 1 Unnamed: 2      Unnamed: 3        Unnamed: 4
0     sr no      name of farmer    village   no of animals   milk production
1        NaN             ajampur        NaN             NaN               NaN
2          1   Aditya Anil Dighe    ajampur              13                65
3          2  Anil Navnath Dighe    ajampur              14                70
4          3  Anil Somnath Dighe    ajampur               2                10

NameError: name 'plt' is not defined